.header-icon {
  padding-left: 5px;
}

Input {
  width: 500px;
}

.generic-error {
  padding-top: 100px;
}

.nav-links {
  display: flex;
}

.pollSubmit {
  display: block;
  margin: 15px auto;
}

@media (max-width: 768px) {
  Input {
    width: 200px;
  }

  .modal-input {
    width: 300px;
  }
}

@media (max-width: 480px) {
  .modal-input {
    width: 200px;
  }
}